.wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 40px;
  background-color: white;
  width: 1024px;
}
// .wrapper:after {
//   height: 100vh;
//   content: "";
//   width: 100%;
//   background-color: white;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   right: 0;
//   filter: blur(2px);
// }
.title {
  margin-bottom: 20px;
  font-size: 12px;
  color: var(--subText);
}

.content {
  margin-bottom: 20px;
}
