.ribbon {
  display: flex;
  height: 52px;
  background: #f5f5f7;
  justify-content: center;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

.sub-text {
  color: blue;
}
